
h1{
    color: white;
    margin: 0;
    padding: 10px;
    padding-inline-start: 100px;
   
    
}


header{
    background-color: #808080;
    height: 55px;
}

h2{
    color: white;
    margin: 10px;
    display: inline-block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    background-color: #808080;
}

h4{

    padding-inline-start: 10px;
    margin: 0;
}


 .hello {
     margin: 10px;

 }
 
 .fr {
    color: #808080;
 }


 h3 {
    padding-inline-start: 10px;
 }

 .cont{
    width: 80px;
    height: 60px;
    border: 5px solid rgb(200, 74, 74);
    margin-inline-start: 10px;
    margin-bottom: 10px;
    background-color: rgb(209, 137, 137);
    
    
    
 }

 .home{
    width: 90px;
    height: 60px;
    border: 5px solid rgb(39, 39, 39);
    display: inline-block;
    margin-inline-start: 250px;
    background-color: #593513;
 
 }

 .in {
    width: 40px;
    height: 40px;
    background: rgba(51, 122, 51, 0.795);
    display: flex;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(14, 40, 17);
    left: 0;

    position: relative;
    animation-timing-function: linears;
    animation-iteration-count: infinite;
    animation-name: inn; 
    animation-duration: 5s;
    animation-direction: alternate;
}

.second{
    margin-inline-start: 340px;
    margin-inline-end: 1000px;

}

.first{
    margin-inline-end: 0px;
}

.ws{
    margin-block-start: 5px;
}

.r{
    margin-block-end: 10px;
}

.me{
    width: 40px;
    height: 40px;
    background: rgba(51, 122, 51, 0.795);
    display: flex;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(14, 40, 17);
    left: 0;

    position: relative;
    animation-timing-function: linears;
    animation-iteration-count: infinite;
    animation-name: me; 
    animation-duration: 1s;
    animation-direction: alternate;

}

.button{
    margin-block-start: 10px;
    width: 100px;
    height: 40px;
}

#bu{
    margin-left: 10px;
}

#h2{
    background-color: red;
}
.first{float:left;}



.cont {float:left;}


 @keyframes inn{
    0%{
        left:0;
    }
    50%{
        border-radius: 100%;
    }
    100%{
        left: 380px;
    }
 }

 @keyframes me {
    0%{
        left:0;
    }
    50%{
        border-radius: 100%;
    }
    100%{
        left: 31px;
    }
    
 }

 @media (max-width: 1200px) {
    body{
        max-width: 970px;
    }
    
 }

 @media (max-width: 998px) {
    body{
        max-width: 750px;
    }
    
 }

 @media (max-width: 757px) {
    body{
        max-width: none;
    }
    
 }

 #button { 
    color: black;
    font-size: 20px;
    text-align: center;
  }
  #button {
    width: 100px;
    height: 30px;
    background-color: rgb(0, 195, 255);
    user-select: none;
    margin-inline-start: 10px;
    text-align: center;
  }
  #score {
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 179, 14);
    margin-inline-start: 40px;
  }
